<div class="col-sm-8">
    <div class="blog-post blog-single-post">
        <div class="single-post-title">
            <h3>College Information </h3>
        </div>
        <div class="single-post-info">
        </div>
        <div class="">
        </div>
        <div class="single-post-content">
            <div class="post-coments">
                <div class="comment-form-wrapper">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3">Student Code: </label>
                            <p>{{studentInfo.infoBySchool.studentCode}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Major:</label>
                            <p>{{studentInfo.infoBySchool.major}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Class:</label>
                            <p>K{{studentInfo.infoBySchool.grade}}{{studentInfo.infoBySchool.studentClass}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Diploma:</label>
                            <p>{{studentInfo.infoBySchool.diploma}}</p>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">GPA:</label>
                            <p>{{studentInfo.infoBySchool.gpa}}</p>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">Graduation Date:</label>
                            <p>{{studentInfo.infoBySchool.graduationYear}}</p>
                        </div>
                    </form>
                </div>

            </div>

            <!-- End Comments -->
        </div>
    </div>
    <!-- End Blog Post -->
</div>
