<div class="col-sm-8">
    <div class="blog-post blog-single-post">
        <div class="single-post-title">
            <h3>Write Post </h3>
        </div>
        <div class="single-post-info" ng-init="initTag()">
        </div>
        <div class="single-post-content" ng-init="post.content = ''">
            <div class="post-coments">
                <div class="comment-form-wrapper">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="Title">Title: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="post.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="describePost">Describe Post: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="describePost" placeholder="Describe Post" ng-model="post.describePost">
                            </div>
                            <!-- <button ng-click="showTags()">show tag</button> -->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="requirednumbers">Required numbers: </label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="requirednumbers" ng-model="post.requiredNumber">
                            </div>
                            <!-- <button ng-click="showTags()">show tag</button> -->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="startDate">Start Date: </label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="startDate" ng-model="post.startDate">
                            </div>
                            <!-- <button ng-click="showTags()">show tag</button> -->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="expiryDate">Expiry Date: </label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="expiryDate" ng-model="post.expiryDate">
                            </div>
                            <!-- <button ng-click="showTags()">show tag</button> -->
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-sm-3" for="durationTime">Duration Time: </label>
                            <div class="col-sm-6">
                                <angucomplete-alt id="ex1" placeholder="Search countries" pause="100" selected-object="selectedCountry" local-data="nameAndId" search-fields="1" title-field="1" minlength="1" input-class="form-control" />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="Title">Tags: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="tags" placeholder="add..." id="tags" ng-model="listTag" />
                            </div>
                            <!-- <button ng-click="showTags()">show tag</button> -->
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label col-sm-2" for="Title">Tags : </label> -->
                            <!-- <div class="col-sm-8"> -->
                            <!-- <select multiple>
                                    <option ng-repeat="tag in hashtags | filter : lastTag" ng-click="selectTag(tag.tag)">{{tag.tag}}</option>
                                </select> -->
                            <!-- <div ng-init="loadAllHashtag()">
                                    <p ng-repeat="tag in hashtags | filter : lastTag">
                                        {{tag.tag}}
                                    </p>
                                </div> -->
                            <!-- </div> -->
                            <label class="control-label col-sm-3">Contact: </label>
                            <div class="col-sm-8" ng-init="loadPartnerContact()">
                                <select class="form-control" ng-model="post.partnerContactId">
                                    <option value="" selected="selected">-- Choose Options --</option>
                                    <option ng-repeat="partnerContact in partnerContacts" value="{{partnerContact.id}}">{{partnerContact.contactName}} - {{partnerContact.email}}</option>
                                </select>
                                <br>
                                <button class="btn btn-left" ng-click="click()">Click to select image</button>
                                <button type="Save" class="btn btn-right button-right" ng-click="createAPost()" ng-if="edit_post == false && post.content != '' && post.describePost != '' && ima != null">
                                    Save
                                </button>
                                <button type="Save" class="btn btn-right button-right" ng-click="editAPost(post.id)" ng-if="edit_post">
                                    Save edit
                                </button>
                            </div>
                        </div>
                        <div class="single-post-image ">
                            <img data-ng-src="{{ima}} ">
                        </div>
                        <br>
                        <div class="form-group">
                            <summernote height="500 " ng-model="post.content "></summernote>
                        </div>
                        <div class="loading-spiner-holder " data-loading>
                            <div class="loading-spiner ">
                                <div class="modal-backdrop in center-block ">
                                    <img class=" " src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif " />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Comments -->
        </div>
    </div>
</div>
<div ng-if="editPost != null " ng-init="edit() "> </div>