<div class="section">
    <div class="container">
        <!-- <div class="row">
            <div class="pagination-wrapper" data-loading>
                <img ng-src="{{clientAdd}}/img/bx_loader.gif">
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-4 blog-sidebar" ng-if="role == 'VIP_PARTNER' ">
                <h4></h4>
                <form>
                    <div class="input-group">
                    </div>
                </form>
                <h4>Partner Infomation</h4>
                <ul class="recent-posts">
                    <li><a href="/#/partner/info">Partner Infomation</a></li>
                </ul>
                <h4>Partner contact</h4>
                <ul class="blog-categories">
                    <li><a href="/#/partner/contact">Partner contact</a></li>
                </ul>
                <h4>Internship</h4>
                <ul class="blog-categories">
                    <li><a href="/#/partner/insert-intern">Insert internship</a></li>
                    <li><a href="/#/partner/show-intern">All Internship</a></li>
                </ul>
                <h4>Posts</h4>
                <ul class="blog-categories">
                    <li><a href="/#/partner/post">Post</a></li>
                    <li><a href="/#/partner/add-post">Add Post</a></li>
                </ul>
            </div>
            <div class="col-sm-8" ng-init="showAPost(postSelected)">
                <div ng-init="checkFollow(postSelected)" ng-if="role == 'STUDENT' "></div>
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h3>{{post.title}}</h3>
                    </div>
                    <div class="single-post-info" >
                        <div class="post-info button-right" ng-if="expiry == true">
                            <div class="post-date">
                                <div class="date">Expired</div>
                            </div>
                        </div>
                        <br />
                        <div class="alert alert-warning" ng-if="warning">
                            <strong>{{warningMessage}}</strong>
                        </div>
                        <div class="alert alert-danger" ng-if="danger">
                            <strong>{{errorMessage}}</strong>
                        </div>
                        <ul ng-if="role == 'VIP_PARTNER' ">
                            <li class="dropdown active button-right" style="list-style-type: none;">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="cursor">
                                        <a ng-click="deleteAPost(post.id)" confirmation-needed="Really Delete?">
                                            Xóa Bài
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#/partner/edit-post" ng-click="editPost(post)">
                                            Sửa Bài
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cursor" data-toggle="collapse" data-target="#listFollow">
                                            Show List Follower
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cursor" data-toggle="modal" data-target="#myModal">
                                            Show List Follower
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <i class="glyphicon glyphicon-time"></i>{{post.datePost | date:'medium'}}</i>
                        <div id="listFollow" class="collapse" ng-init="showListFollower(postSelected)" ng-if="role == 'VIP_PARTNER' ">
                            <a ng-repeat="follower in listFollower" href="/#/student/{{follower.student.id}}">
                                {{follower.student.fullName}},
                            </a>
                        </div>
                        <button ng-click="follow(post.id, post.title)" ng-if="subs == false && expiry == false" class="btn btn-large pull-right">Follow</button>
                        <button ng-click="unfollow(post.id)" ng-if="subs == true && expiry == false" class="btn btn-large pull-right">Unfollow</button>
                        <div class="pull-right" ng-if="loading">
                            <img ng-src="{{clientAdd}}/img/loading-sm.gif">
                        </div>
                    </div>
                    <div class="single-post-content">
                        <!-- <img ng-src="{{clientAdd}}{{post.image}}" alt="Post Title"> -->
                        <p>Ngày hết hạn: {{post.expiryTime | date:'dd-MM-yyyy'}}</p>
                        <p>Số lượng cần tuyển: {{post.requiredNumber}}</p>
                        <div ng-if="post.partnerContact != null">
                            <p>Số điện thoại: {{post.partnerContact.phone}}</p>
                            <p>Tên liên lạc: {{post.partnerContact.contactName}}</p>
                            <p>Email: {{post.partnerContact.email}}</p>
                        </div>
                    </div>
                    <div class="single-post-content" ng-bind-html="post.content">
                        <!--<p>{{post.content | limitTo:50}}</p>-->
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-4 blog-sidebar" " ng-if="role=='STUDENT' " ng-init="showFollowedPost() ">
                <h4>Search: </h4>
                <form>
                    <div class="input-group ">
                        <input class="form-control input-md " id="appendedInputButtons " type="text ">
                        <span class="input-group-btn ">
                            <button class="btn btn-md " type="button ">Search</button>
                        </span>
                    </div>
                </form>
                <h4>Followed Posts</h4>
                <ul class="recent-posts ">
                    <li ng-repeat="post in posts | orderBy: '-id' ">
                        <a href="#/post/{{post.postId}} ">{{post.postTitle}}</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
