<div class="" ng-init="getNotificationMessage()">
    <div class="page-title">
        <div class="title_left">
            <h3>Message</h3>
        </div>
        <div class="title_right">
            <div class="col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="pagination-wrapper" style="padding:3px 11px">
                            <ul class="pagination pagination-sm" style="margin:unset">
                                <li class="{{previousPage.class}}"><a href="#admin/post/page={{previousPage.page}}">Previous</a></li>
                                <li class="{{page.class}}" ng-repeat="page in pages" ng-if="page.page != null">
                                    <a href="#admin/post/page={{page.page}}">{{page.page}}</a>
                                </li>
                                <li class="{{nextPage.class}}"><a href="#admin/post/page={{nextPage.page}}">Next</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 mail_list_column c-mail-container">
                            <a class="cursor" ng-repeat="message in notificationMessage">
                                <div class="mail_list c-mail-item">
                                    <p class="c-mail-content" ng-bind-html="message.content"></p>
                                    <i class="fa fa-trash-o c-delete-btn" data-toggle="modal" data-target="#delete_message" ng-click="confirmDelete(message.id)"></i>
                                </div>
                            </a>
                        </div>
                        <!-- /MAIL LIST -->
                    </div>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="delete_message">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" id="close_modal_delete_message"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa thông báo này này</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" ng-click="deleteNotificationMessage(confirmDeleteId)">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT MAIL -->
<form id="reply_message" data-parsley-validate class="form-horizontal form-label-left" style="display: flex;">
    <div class="form-group" style="width: calc(100% - 69px)">
        <textarea class="form-control col-sm-12" rows="4" ng-model="notification.content" placeholder="Content"></textarea>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="createNotification()" style="max-width: 69px">Send</button>
    </div>
</form>
<!-- /CONTENT MAIL -->
