<div class="col-sm-8">
    <div class="blog-post blog-single-post" ng-init="getMessageByType('PassInterview')">
        <div class="single-post-title">
            <h3>Pass Interview </h3>
        </div>
        <div class="single-post-content">
            <div class="post-coments">
                <ul class="post-comments">
                    <li ng-repeat="message in MessageByType">
                        <div class="comment-wrapper">
                            <div class="comment-author"> {{message.senderName}}: {{message.title}}</div>
                            <p class="cursor" ng-bind-html="message.content">
                            </p>
                            <!-- Comment Controls -->
                            <div class="comment-actions">
                                <span class="comment-date">{{message.sendDate | date:'medium'}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Comments -->
        </div>
    </div>
    <!-- End Blog Post -->
</div>
