<div class="col-sm-8">
<div ng-if="initPage == 1" ng-init="getAllMessage(1)"></div>
    <div class="blog-post blog-single-post">
        <div class="single-post-title">
            <h3>Inbox </h3>
        </div>
        <div class="single-post-content">
            <div class="post-coments">
                <ul class="post-comments">
                    <li ng-repeat="message in messages | filter:{ messageType: '!Reply'} | orderBy:'-lastUpdated'">
                        <a href="/#/messages/inbox/{{message.id}}" ng-click="selectMessage(message)">
                            <div class="comment-wrapper">
                                <div class="comment-author"> {{message.senderName}}: {{message.title}}</div>
                                <p class="{{message.status}}" ng-bind-html="message.content | limitTo:150">
                                </p>
                                <!-- Comment Controls -->
                                <div class="comment-actions">
                                    <span class="comment-date" style="color: #828282;">{{message.lastUpdated | date:'medium'}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- Pagination -->
                <div class="pagination-wrapper ">
                    <ul class="pagination pagination-sm">
                        <li class="{{nextPage.class}}">
                            <a class="cursor" ng-click="getAllMessage(nextPage.page)" ng-if="nextPage.class != 'disabled'">Next</a>
                            <a class="cursor" ng-if="nextPage.class == 'disabled'">Next</a>
                        </li>
                    </ul>
                </div>
                <!-- End Comment Form -->
            </div>
            <!-- End Comments -->
        </div>
    </div>
    <!-- End Blog Post -->
</div>
