<div class="page-title">
    <div class="title_left">
        <h3>{{mess}}
    </div>
    <div class="title_right">
        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
            <form>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="input.userName" placeholder="Tìm kiếm tên tài khoản">
                <span class="input-group-btn">
                    <button class="btn btn-default c-search-btn" id="btn-search-user" type="submit" ng-click="searchUser(input.userName)">
                        <strong><i class="fa fa-search "></i> Tìm</strong>
                    </button>
                </span>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-init="searchUser()">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-warning" ng-if="warning">
                    <strong>{{warningMessage}}</strong>
                </div>
                <div class="alert alert-success" ng-if="success">
                    <strong>{{successMessage}}</strong>
                </div>
                <div class="alert alert-danger" ng-if="danger">
                    <strong>{{errorMessage}}</strong>
                </div>
                <div class="table-responsive">
                    <div class="pagination-wrapper">
                        <ul class="pagination pagination-sm">
                            <li class=""><a href="#user/page={{previousUserPage}}"><i class="fa fa-chevron-left"></i> Quay lại</a></li>
                        </ul>
                    </div>
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">#</th>
                                <th class="column-title">Tên đăng nhập</th>
                                <th class="column-title">Loại tài khoản</th>
                                <th class="column-title">Lần đăng nhập cuối </th>
                                <th class="column-title">Ngày tạo </th>
                                <th class="column-title">Thông tin chi tiết </th>
                                <th class="column-title">Thay đổi password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer" ng-repeat="user in allUsers">
                                <td class="">{{1 + $index}}</td>
                                <td class="">
                                    {{user.userName}}
                                </td>
                                <td class="">
                                    {{user.role}}
                                </td>
                                <td class="">
                                    {{user.lastLogin | date:'dd-MM-yyyy HH:mm'}}
                                </td>
                                <td class="">
                                    {{user.createdAt | date:'dd-MM-yyyy HH:mm'}}
                                </td>
                                <td class="">
                                    <a class="cursor" ng-click="getUserInfo(user.id)" data-target="#user_info" data-toggle="modal">
                                        Thông tin
                                    </a>
                                </td>
                                <td>
                                    <a class="cursor" data-target="#reset_pass" data-toggle="modal" ng-click="selectUser(user)">
                                        Đổi pass
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="reset_pass">
                    <div class="modal-dialog modal-sm" style="width:40vw;">
                        <div ui-view="modal_reset_password"></div>
                    </div>
                </div>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="user_info">
                    <div class="modal-dialog modal-lg">
                        <div ui-view="modal_user_information"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>