<div class="modal-content">
	<div class="modal-header">
		<div class="c-d-flex">
			<div class="col-sm-10">
				<h3 class="modal-title">Thông tin đối tác</h3>
			</div>
			<div class="col-sm-2 c-d-flex justify-content-end">
				<i class="c-toggle fa fa-times-circle" data-dismiss="modal"></i>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Tên: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.partnerName}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Manager: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.director}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Email: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.email}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Website: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.website}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Số điện thoại: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.phone}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Địa chỉ: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.address}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Mã số thuế: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.taxCode}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Lĩnh vực làm việc: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.fieldWork}}</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-4 col-sm-4 col-xs-12">Đối tác: </label>
			<div class="col-md-8 col-sm-8 col-xs-12">{{partnerInfo.partnerType}}</div>
		</div>
	</div>
</div>
