<div class="modal-content">
    <div class="modal-header">
        <div class="c-d-flex">
            <div class="col-sm-10">
                <h3 class="modal-title">Thông tin sinh viên</h3>
            </div>
            <div class="col-sm-2 c-d-flex justify-content-end">
                <i class="c-toggle fa fa-times-circle" data-dismiss="modal"></i>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Họ và tên: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.fullName}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày sinh: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.birthday}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Địa chỉ: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.address}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Email: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.email}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Email VNU: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.emailvnu}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã sinh viên: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.studentCode}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngành học: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.major}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Lớp khóa học: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.grade+"-"+studentInfo.infoBySchool.studentClass}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Điểm trung bình: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.gpa}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Bằng cấp: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.diploma}}</div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Năm tốt nghiệp: </label>
            <div class="col-md-8 col-sm-8 col-xs-12">{{studentInfo.infoBySchool.graduationYear}}</div>
        </div>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">Thông tin thực tập</h3>
    </div>
    <div class="modal-body">
        <div class="text-center" ng-if="internshipInfos.length == 0">
            <strong>Chưa có</strong>
        </div>
        <table class="table" ng-if="internshipInfos.length > 0">
            <thead>
                <th class="text-center">STT</th>
                <th class="text-center">Công ty</th>
                <th class="text-center">Loại thực tập</th>
                <th class="text-center">Trạng thái</th>
            </thead>
            <tbody>
                <tr ng-repeat="internshipInfo in internshipInfos">
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="text-center">{{internshipInfo.partnerName}}</td>
                    <td class="text-center">{{internshipInfo.postTitle}}</td>
                    <td class="text-center">{{internshipInfo.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
