<div class="section" ng-init="search()">
    <div class="container">
        <div class="row">
        <!-- Promotion Code -->

            <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2">
                <div class="cart-shippment-options">
                    <div class="input-append">
                        <select class="form-control input-sm" ng-model="search.data">
                            <option value="" selected="selected">-- Choose Options --</option>
                            <option value="searchPartner" >Partner</option>
                            <option value="searchDescription">Post describtion</option>
                            <option value="searchContent">Post content</option>
                        </select>
                        <!--<select class="form-control" ng-model="role" ng-options="partner.role for partner in partners">-->
                        <!--</select>-->
                    </div>
                </div>
            </div>
            <div class="col-md-8  col-md-offset-0 col-sm-8 col-sm-offset-8">
                <form class="form-horizontal">
                    <div class="cart-promo-code">
                        <div class="input-group">
                            <input class="form-control input-sm" id="appendedInputButton" type="text" ng-model="search.input">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-grey" type="button" ng-click="deleteRootScopeSearch(); search();">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--ng-if="search.data == 'searchDescription'"-->
        <div class="row service-wrapper-row"  ng-repeat="data in searchResponses" ng-if="search.data != 'searchPartner'">
            <div class="col-sm-4">
                <div class="service-image">
                    <a href="/#/post/{{data.id}}"><img ng-src="{{clientAdd}}{{data.image}}"></a>
                    
                </div>
            </div>
            <div class="col-sm-8">
                <a href="/#/post/{{data.id}}"><h3>{{data.title}}</h3></a>
                <div ng-bind-html="data.describePost | limitTo:100">...</div>
            </div>
        </div>
        <div class="row service-wrapper-row"  ng-repeat="data in searchPartner" ng-if="search.data == 'searchPartner'">
            <div class="col-sm-4">
                <div class="service-image">
                    <a href="/#/partner/{{data.id}}" ng-click="show(data)"><img ng-src="{{clientAdd}}{{data.logo}}"></a>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><a href="/#/partner/{{data.id}}" ng-click="show(data)">{{data.partnerName}}</a></h3>
            </div>
        </div>

        <div class="row service-wrapper-row" ng-if="result == false">
            <div class="col-sm-4">
                <!-- <div class="service-image"> -->
                    
                <!-- </div> -->
            </div>
            <div class="col-sm-6">
                No Result
            </div>
        </div>
    </div>
</div>

<!--<div class="section"  ng-if="search.data == 'searchPartner'">-->
    <!--<div class="container" >-->
        <!--<div class="row service-wrapper-row"  ng-repeat="data in searchResponses">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="service-image">-->
                    <!--<img src="img/services1.jpg" alt="Service Name">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-8">-->
                <!--<h3>{{data.partnerName}}</h3>-->
            <!--</div>-->
        <!--</div>-->
        <!---->
    <!--</div>-->
<!--</div>-->

<!--<div class="section"  ng-if="search.data == 'searchContent'">-->
    <!--<div class="container" >-->
        <!--<div class="row service-wrapper-row"  ng-repeat="data in searchResponses">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="service-image">-->
                    <!--<img ng-src="{{data.image}}" alt="Service Name">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-8">-->
                <!--<a href="/#/post/{{data.id}}"><h3>{{data.describePost}}</h3></a>-->
                <!--<p>-->
                    <!--{{data.content}} -->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!---->
    <!--</div>-->
<!--</div>-->
